body {
  background: #FFFFFF;
}

#title {
  font-family: Roboto Thin;
  text-align: center;
}

#counter {
  display: inline-block;
  padding: 10px;
  
  background: #009933;
  
  color: #fff;
  font-size: 10em;
  font-family: Roboto Thin;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
  
  cursor: pointer;
  
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}

#reset {
  
  display: inline-block;
  padding: px;
  
  background: #009933;
  
  color: #fff;
  font-size: 4em;
  font-family: Roboto Thin;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
  
  cursor: pointer;
  
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 150%);
  
  
  
}

#counter:hover {
  background: #0099FF;
}

#reset:hover {
  background: #0099FF;
}

#counter:active {
  margin-left: 2px;
  margin-top: 2px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
